In [1]:
import os
import pandas as pd

In [2]:
# File path
file_path = '../Data/Fireline_5mPoints_240314_Resampled.csv'

# Read the CSV file
df = pd.read_csv(file_path)

In [3]:
df.head()

,LineTypeCodes2,Date,men_sh,menwinddir,min_temp,max_temp,men_vpd,precip,menburnidx,men_erc,...,EVT_FUEL_N,LineTypeCombos,LineTypeSingle,COUNT_LineTypeCodes2,LineTypeCombo_1000,EVC_CLASSNAMES,EVC_Tree,EVC_Herb,EVC_Shrub,EVC_BrrnOrDvlpd
0,7,2021-08-30,257.0,240.0,757.0,773.0,191.0,0.0,92.0,96.0,...,Bau Developed-Roads,7,7,29240,7,Developed-Roads,NaN,NaN,NaN,1.0
1,7,2021-08-30,257.0,240.0,757.0,773.0,191.0,0.0,92.0,96.0,...,Bau Developed-Roads,7,7,29240,7,Developed-Roads,NaN,NaN,NaN,1.0
2,7,2021-08-30,257.0,240.0,757.0,773.0,191.0,0.0,92.0,96.0,...,Bau Developed-Roads,7,7,29240,7,Developed-Roads,NaN,NaN,NaN,1.0
3,7,2021-08-30,257.0,240.0,757.0,773.0,191.0,0.0,92.0,96.0,...,Bau Developed-Roads,7,7,29240,7,Developed-Roads,NaN,NaN,NaN,1.0
4,7,2021-08-30,257.0,240.0,757.0,773.0,191.0,0.0,92.0,96.0,...,Bau Developed-Roads,7,7,29240,7,Developed-Roads,NaN,NaN,NaN,1.0

In [4]:
# Regular expression pattern to extract percentage
pattern = r'(\d+)%'

# Extract and convert the percentage values; fill non-matching entries with 0
df['EVC Percentage'] = df['EVC_CLASSNAMES'].str.extract(pattern).fillna(0).astype(int)

# Display the DataFrame to verify the results
df.head()

,LineTypeCodes2,Date,men_sh,menwinddir,min_temp,max_temp,men_vpd,precip,menburnidx,men_erc,...,LineTypeCombos,LineTypeSingle,COUNT_LineTypeCodes2,LineTypeCombo_1000,EVC_CLASSNAMES,EVC_Tree,EVC_Herb,EVC_Shrub,EVC_BrrnOrDvlpd,EVC Percentage
0,7,2021-08-30,257.0,240.0,757.0,773.0,191.0,0.0,92.0,96.0,...,7,7,29240,7,Developed-Roads,NaN,NaN,NaN,1.0,0
1,7,2021-08-30,257.0,240.0,757.0,773.0,191.0,0.0,92.0,96.0,...,7,7,29240,7,Developed-Roads,NaN,NaN,NaN,1.0,0
2,7,2021-08-30,257.0,240.0,757.0,773.0,191.0,0.0,92.0,96.0,...,7,7,29240,7,Developed-Roads,NaN,NaN,NaN,1.0,0
3,7,2021-08-30,257.0,240.0,757.0,773.0,191.0,0.0,92.0,96.0,...,7,7,29240,7,Developed-Roads,NaN,NaN,NaN,1.0,0
4,7,2021-08-30,257.0,240.0,757.0,773.0,191.0,0.0,92.0,96.0,...,7,7,29240,7,Developed-Roads,NaN,NaN,NaN,1.0,0

In [5]:
set(df[df['EVC Percentage'] == 0]['EVC_CLASSNAMES'])

{'Barren',
 'Developed-High Intensity',
 'Developed-Low Intensity',
 'Developed-Medium Intensity',
 'Developed-Roads',
 'Developed-Upland Deciduous Forest',
 'Developed-Upland Evergreen Forest',
 'Developed-Upland Herbaceous',
 'Developed-Upland Mixed Forest',
 'Developed-Upland Shrubland',
 'Open Water',
 'Sparse Vegetation Canopy'}

In [6]:
# Regular expression pattern to extract height in meters (handles integers and decimals)
pattern = r'(\d+\.?\d*)\s*meters?'

# Extract and convert the height values; fill non-matching entries with 0
df['Height_Meters'] = df['EVH_CLASSNAMES'].str.extract(pattern).fillna(0).astype(float)

# Display the DataFrame to verify the results
df.head()

,LineTypeCodes2,Date,men_sh,menwinddir,min_temp,max_temp,men_vpd,precip,menburnidx,men_erc,...,LineTypeSingle,COUNT_LineTypeCodes2,LineTypeCombo_1000,EVC_CLASSNAMES,EVC_Tree,EVC_Herb,EVC_Shrub,EVC_BrrnOrDvlpd,EVC Percentage,Height_Meters
0,7,2021-08-30,257.0,240.0,757.0,773.0,191.0,0.0,92.0,96.0,...,7,29240,7,Developed-Roads,NaN,NaN,NaN,1.0,0,0.0
1,7,2021-08-30,257.0,240.0,757.0,773.0,191.0,0.0,92.0,96.0,...,7,29240,7,Developed-Roads,NaN,NaN,NaN,1.0,0,0.0
2,7,2021-08-30,257.0,240.0,757.0,773.0,191.0,0.0,92.0,96.0,...,7,29240,7,Developed-Roads,NaN,NaN,NaN,1.0,0,0.0
3,7,2021-08-30,257.0,240.0,757.0,773.0,191.0,0.0,92.0,96.0,...,7,29240,7,Developed-Roads,NaN,NaN,NaN,1.0,0,0.0
4,7,2021-08-30,257.0,240.0,757.0,773.0,191.0,0.0,92.0,96.0,...,7,29240,7,Developed-Roads,NaN,NaN,NaN,1.0,0,0.0

In [7]:
set(df[df['Height_Meters'] == 0]['EVH_CLASSNAMES'])

{'Barren',
 'Developed - High Intensity',
 'Developed - Low Intensity',
 'Developed - Medium Intensity',
 'Developed-Roads',
 'Developed-Upland Deciduous Forest',
 'Developed-Upland Evergreen Forest',
 'Developed-Upland Herbaceous',
 'Developed-Upland Mixed Forest',
 'Developed-Upland Shrubland',
 'Open Water',
 'Sparse Vegetation Canopy'}

In [17]:
df['EVC_Tree'] = [str(x).strip('%') for x in df['EVC_Tree']]
df['EVC_Tree'] = df['EVC_Tree'].fillna(0)
df['EVC_Tree'] = df['EVC_Tree'].replace({'nan': 0})
df['EVC_Herb'] = [str(x).strip('%') for x in df['EVC_Herb']]
df['EVC_Herb'] = df['EVC_Herb'].fillna(0)
df['EVC_Herb'] = df['EVC_Herb'].replace({'nan': 0})
df['EVC_Shrub'] = [str(x).strip('%') for x in df['EVC_Shrub']]
df['EVC_Shrub'] = df['EVC_Shrub'].fillna(0)
df['EVC_Shrub'] = df['EVC_Shrub'].replace({'nan': 0})

In [19]:
# Number of parts to divide the file into
num_parts = 10

# Calculate the number of rows per part
rows_per_part = len(df) // num_parts

# Ensure the 'Data' folder exists
output_folder = 'Data'
os.makedirs(output_folder, exist_ok=True)

# Split and save the files
for part in range(num_parts):
    start_row = part * rows_per_part
    # For the last part, include all remaining rows
    end_row = (part + 1) * rows_per_part if part < num_parts - 1 else len(df)
    df_part = df.iloc[start_row:end_row]
    output_file = os.path.join(output_folder, f'Fireline_5mPoints_part_{part+1}.csv')
    df_part.to_csv(output_file, index=False)

print(f'Files are split and saved in {output_folder}')

Files are split and saved in Data